@font-face {
    font-family: 'script';
    src: url(/assets/fonts/ClassiqueScript.otf);
}

body {
    background-color: rgb(255, 226, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-family: 'script';
    font-size: 5rem;
    letter-spacing: .2rem;
    font-weight: 200;
}

.calculator-base {
    height: 60vh;
    width: 22vw;
    background-color: rgb(228, 145, 159);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    background-color: rgb(235, 179, 188);
    height: 15%;
    width: 82%;
    border-radius: 1rem;
    margin-top: 2.5rem;
    box-shadow: -.1rem -.1rem .1rem rgba(255, 255, 255, 0.2),
                .1rem .1rem .1rem rgba(0, 0, 0, 0.1),
                inset -.3rem -.3rem .3rem rgba(255, 255, 255, 0.2),         
                inset .3rem .3rem .3rem rgba(0, 0, 0, 0.1);
    margin-top: -2.5rem;         
}

.pad {
    width: 82%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: .6rem;
    margin-top: 2rem;
}


.touch {
    background-color: rgb(235, 179, 188);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.touch:hover {
    background-color: #fff;
    box-shadow: 0px 1px 2px #fff;
    color: #000;
    transform: translateY(-7px);
}
